{% extends 'base.html.twig' %}
{% block title %}Category #{{ category.name }}{% endblock %}

{% block body %}
{{ category.name }}
<br>
{% for program in programs %}
<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
  </div>
</div>


{% endfor %}
<a href="{{ path('category_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}