{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }}</h1>
    <p>{{ program.summary }}</p>
    <p>Catégorie : {{ program.category.name }}</p>
  </div>
</div>

{% for season in seasons %}

  <h5 class="card-title">saison numéro {{ season.number }} de l'année {{ season.year }}</h5>
        
  <a href="{{ path("season_show", { programId: program.id, seasonId: season.id }) }}" >Voir les détails</a>
  <br>

  {% else %}

  Il n'y a pas de season
{% endfor %}

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>


{% endblock %}